<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Collection</title>
</head>

<body>
    <main>
        <% searchResults.forEach(book=> {%>
            <section>
                <img src="<%= book.img %>">

                <h4>
                    <%= book.title %>
                </h4>
                <h4>
                    <%= book.author%>
                </h4>
                <p>
                    <%= book.description %>
                </p>
            </section>
            <% }) %>

    </main>
</body>

</html>