<div class="container1">Best Books
    <div class="drop">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myList" class="drop-content">
            <a href="/">Home</a>
            <a href="/searches/new">Search the Google Books Api</a>
        </div>
    </div>
</div>
<div class="container2">
    <%=results.length%> saved Books
</div>
<div class="container3">

</div>